---
import { Icon } from 'astro-icon';
---

<section class="js-show-on-scroll">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Glimpse of our services</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								Although not a full list of what we offer, but just a starting point in the development world the sky is
								the limit any requirement can be fulfilled.
							</p>

							<div class="w-full">
								<a
									class="btn text-white bg-primary-800 hover:bg-primary-900 mb-4 sm:mb-0"
									href="https://github.com/onwidget/astrowind"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:view-360" class="w-5 h-5 mr-1 -ml-1.5" /> Explore All
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Bespoke appplications</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Need someone to implement your idea then look no further. We will build the highest quality
										applications that meets your quality standards, with a modest price.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Cloud software</h3>
									<p class="text-gray-500 dark:text-gray-400">
										In the coming months we will be creating and providing a unique cloud software to aid your business.
										All you have to do is pay a small monthly fee and the rest will be managed by us.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Websites</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Now, there is no need to worry about creating your website, all you have to do is provide your
										requirements and that’s it, we will manage the rest.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
