---
const { title } = Astro.props;
---

<section class="p-10 text-center">
	<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
		<span
			class="bg-clip-text text-transparent bg-gradient-to-r from-primary-800 to-secondary-700 sm:whitespace-nowrap px-2"
			>{title}
		</span>
	</h1>
</section>
